button {
	background: rgb(187, 104, 212);
	color: #fff;
	border: none;
	font-family: "raleway";
}

button:hover {
	background: rgb(150, 79, 172);
	color: #fff;
}

button:active {
	color: #fff;
}

input {
	background-color: rgba(255, 255, 255, 0.336);
}